<section>
	<!-- code section search bar -->
		<div>
				<div class="banner-search" id="snow">
						<div class="search-layer">
								<div class="search-panel">
									<form action="#" id="search_box">
										<div class="wrapper">
											 <input typeahead-wait-ms=500 ng-model="asyncSelected" placeholder="Type to search" uib-typeahead="thread as thread.title for thread in forum.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" type="text" typeahead-template-url="customTemplate.html"/>
											 <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
											    <div ng-show="noResults">
											      <i class="glyphicon glyphicon-remove"></i> No Results Found
											    </div>
										</div>
									</form>
								</div>
								<!-- 2-->
								<div class="submenu-search"> POSTS : {{forum.stats.total}} | USERS : {{forum.stats.users}} | ONLINE : {{forum.stats.live}}
								<br>
								<span><i style="color:red;padding-right:5px" class="fa fa-heart"></i>#MerryChristmas<i style="color:red;padding-left:5px" class="fa fa-heart"></i></span> 
								</div>
								<script type="text/ng-template" id="customTemplate.html">
								  <a>
								      <a href="/replies/{{match.model.link}}">
								      	<span>{{match.model.title}}</span>
								      </a>
								  </a>
								</script>
						</div>
				</div>
		</div>
	<!-- ends here -->
	<!-- code section outer div -->
		<div class="main-outer-div">
			<!--left side div -->
			<div class="left-main-div Drop">
				<!--tabs view goes here -->
				<section class="tabs">
					<ul>
					<li for="tab-3" class="tab-label-3"><a thread-panel-color class="panel-color-toggle" href="/"><i class="fa fa-stack-exchange"></i> Official</a></li>
			        <li for="tab-1" class="tab-label-1"><a thread-panel-color class="panel-color-toggle" ui-sref="home.hot"><i class="fa fa-firefox"></i> HOT</a></li>
			        <li for="tab-2" class="tab-label-2"><a thread-panel-color class="panel-color-toggle" ui-sref="home.all"><i class="fa fa-bolt"></i> LATEST</a></li>
					</ul>
	            
				    <div class="clear-shadow"></div>
					<!-- comment section goes here -->
					<!--1st comment -->
					<div ui-view>
						<div class="content comment-outer" ng-repeat="thread in forum.threads | filter:{type:'official'} | orderBy:'-created_at'">
							<div class="comment-inner-left">
								<img ng-src="{{thread.posted_by_image}}" err-src="/app/assets/img/noimage.jpg" / >
								<h5 class="userText">
									<a href="#" class="username">{{thread.posted_by}}</a>
									<em class="userTitle">Level: Pluto</em>
								</h5>
							</div>
							<div class="comment-inner-right">
								<a ng-click="forum.trackRoute(thread.title,thread._id)" href="/replies/{{thread.link}}"><h2>{{thread.title}}</h2> </a>
								<div>
									<ul>
										<li class="comment-width-65"><i class="fa fa-eye"></i> {{thread.viewCount}}</li>
										<li class="comment-width-65"><i class="fa fa-stack-exchange"></i> {{thread.replyCount}}</li>
										<li class="yellow-button-view">{{thread.category}}</li>
										<li><a class="fb-share-btn" ng-click="forum.fbshare(thread.link)" href="#"><i class="fa fa-facebook fb-share-btn-i"></i>Share</a></li>
										<li class="pull-right">{{thread.created_at | date:'mediumDate'}} | {{thread.created_at | date:'shortTime'}}</li>
									</ul>
								</div>
							</div>
						</div>
				 	</div>
				</section>
				<!-- ends here -->

			</div>
			<!--left div ends here -->
			<!--right side div -->
			<div class="right-main-div Drop">
				<!-- cta 360 -->
				<div class="right-cta-360">
					<a ui-sref="home.newThread">New Thread</a>
				</div>
				<!--cta ends here -->
				<!--first category goes here -->
				<div class="panel-category">
					<div class="panel-category-header">categories</div>
					<div class="panel-category-body">
						<ul>
							<li><span class="pull-left">General</span> <span class="pull-right">{{forum.stats.general}}</span></li>
							<li><span class="pull-left">Q Terra</span> <span class="pull-right">{{forum.stats.qterra}}</span></li>
							<li><span class="pull-left">Q Luna</span> <span class="pull-right">{{forum.stats.qluna}}</span></li>
							<li><span class="pull-left">Qihoo 360</span> <span class="pull-right">{{forum.stats.qihoo360}}</span></li>
						</ul>
					</div>
				</div>
			<!--first category ends here -->
		</div>
			<!--ends here -->
		</div>
	<!-- outer div ends here -->
</section>