<div class="content comment-outer" ng-repeat="thread in forum.threads | orderBy:'-created_at'">
	<div class="comment-inner-left">
		<img ng-src="{{thread.posted_by_image}}" err-src="/app/assets/img/noimage.jpg"  / >
		<h5 class="userText">
			<a href="#" class="username">{{thread.posted_by}}</a>
			<em class="userTitle">Level: Pluto</em>
		</h5>
	</div>
	<div class="comment-inner-right">
		<a ng-click="forum.trackRoute(thread.title,thread._id)" href="/replies/{{thread.link}}"><h2>{{thread.title}}</h2> </a>
		<div>
			<ul>
				<li class="comment-width-65"><i class="fa fa-eye"></i> {{thread.viewCount}}</li>
				<li class="comment-width-65"><i class="fa fa-stack-exchange"></i> {{thread.replyCount}}</li>
				<li class="yellow-button-view">{{thread.category}}</li>
				<!--<li><a class="fb-share-btn" ng-click="forum.fbshare(thread.link)" href="#"><i class="fa fa-facebook fb-share-btn-i"></i>Share</a></li>-->
				<li class="pull-right">{{thread.created_at | date:'mediumDate'}} | {{thread.created_at | date:'shortTime'}}</li>
			</ul>
		</div>
	</div>
</div>