<section id="qiku-login">
	<form name="loginForm" id="qiku-login-form" novalidate>
		<ul class='group entry-tab'>
			<li id="login-tab"><a href="javascript:void(0)">LOGIN</a></li>
			<li id="signup-tab"><a href="/signup">SIGN UP</a></li>
		</ul>
		<div class="input-wrapper">
		<input type="text" class="input-top-margin" name="email" placeholder="Email or Username" ng-model="login.user.identity" required="">
		<div class="noshake">
			<div ng-show="loginForm.$submitted || loginForm.email.$touched">
		      <div class="login-error" ng-show="loginForm.email.$error.required">Tell us your email.</div>
		    </div>
		</div>
		<input type="password" name="password" placeholder="Password" ng-model="login.user.password" required="">
		<div class="noshake">
			<div ng-show="loginForm.$submitted || loginForm.password.$touched">
		      <div class="login-error" ng-show="loginForm.password.$error.required">We are sure you must have a password.</div>
		    </div>
		</div>
		<button ng-disabled="loginForm.$invalid" type="submit" class="qiku-login-btn" ng-click="login.login()" id="loginbtn">
			<i ng-show="loginForm.$invalid" class="fa fa-lock"></i>
			<i ng-show="!loginForm.$invalid" class="fa fa-unlock"></i>
			LOGIN
		</button>
		<div class="connect-with">
			<span class="border-indicator"></span><span class="connect-with-text">or</span><span class="border-indicator"></span>
		</div>
		<a class="login-fb-btn" href="#" ng-click="login.fblogin()"><i class="fa fa-facebook"></i>Facebook Login</a>
		<!--<a class="forgot-password" href="#">forgot password?</a> -->
		<div>
	</form>
</section>