<section id="qiku-login">
	<form id="qiku-login-form">
		<ul class='group entry-tab'>
			<li id="login-tab"><a href="javascript:void(0)">LOGIN</a></li>
			<li id="signup-tab"><a href="/signup">SIGN UP</a></li>
		</ul>
		<input type="text" name="email" placeholder="Email or Username" autofocus ng-model="login.user.identity">
		<input type="password" name="password" placeholder="Password" ng-model="login.user.password">
		<button ng-disabled="!login.user.identity || !login.user.password" type="submit" class="qiku-login-btn" ng-click="login.login()">LOGIN</button>
	</form>
</section>