<div>
	<!-- comment section goes here -->
	<!--1st comment -->
	<h2 style="padding-left:15px">{{replies.threadDetails.title}}</h2>
	<div class="content comment-outer" ng-repeat="reply in replies.replies" | orderBy:'-created_at'>
			<div class="comment-inner-left">
				<img ng-src="{{reply.posted_by_image}}" err-src="/app/assets/img/noimage.jpg" / >
				<h5 class="userText">
					<a href="#" class="username">{{reply.posted_by}}</a>
					<em class="userTitle">Level: Pluto</em>
					</h5>
			</div>
			<div class="comment-inner-right">
				<p dynamichtml="reply.desc" class="non-quoted"></p>
				<div>
					<ul>
						<!--<li like-btn ng-click="replies.like(reply._id)" style="cursor:pointer" class="pull-right "><i class="fa fa-heart padding-right-5"></i>Like</li> -->
						<li style="cursor:pointer" ng-click="replies.fillReply(reply.desc,reply.posted_by)" class="pull-right comment-width-65"><i class="fa fa-reply padding-right-5"></i>Reply</li>
					</ul>
				</div>
			</div>
	 </div>
	 <textarea ng-model="replies.reply" id="replyToThread"></textarea>
	 <button ng-disabled='replies.replyDisabled' ng-click="replies.postReply()" class="normal-red-btn">Reply</button>
</div>