<div>
	<!-- comment section goes here -->
	<!--1st comment -->
	<h2 style="padding-left:15px">{{replies.threadDetails.title}}</h2>
	<div class="close-outer" ng-if="replies.threadDetails.status == 2">
		<div class="close-inner">
			Thread closed by <i class="fa fa-users"></i> Community
		</div>
	</div>
	<div class="content comment-outer" dir-paginate="reply in replies.replies | orderBy:'created_at' | itemsPerPage:20">
			<div class="comment-inner-left">
				<img ng-src="{{reply.posted_by_image}}" err-src="/app/assets/img/noimage.jpg" / >
				<h5 class="userText">
					<a href="#" class="username">{{reply.posted_by}}</a>
					<em ng-if="!reply.stand" class="userTitle">Level: Pluto</em>
					<div ng-if="reply.stand" style="background-color:#eb5b5f;width:65px;margin:0 auto;color:white">Team Qiku</div>
					</h5>
			</div>
			<div class="comment-inner-right">
				<p class="actualDesc" ng-bind-html="reply.desc" class="non-quoted"></p>
				<div>
					<ul>
						<!--<li like-btn ng-click="replies.like(reply._id)" style="cursor:pointer" class="pull-right "><i class="fa fa-heart padding-right-5"></i>Like</li> -->
						<li style="cursor:pointer" ng-click="replies.fillReply($event,reply.posted_by)" class="pull-right comment-width-65"><i class="fa fa-reply padding-right-5"></i>Reply</li>
					</ul>
				</div>
			</div>
	 </div>
	 <textarea ng-show="replies.threadDetails.status != 2"  id="replyToThread"></textarea>
	 <button style="float:left" ng-show="replies.threadDetails.status != 2" ng-disabled='replies.replyDisabled' ng-click="replies.postReply()" class="normal-red-btn">Reply</button>
	 <div ng-show="replies.threadDetails.status != 2" class="fileuploadouter">
       <button id="replyAttach" class="wide-red-btn" type="file" ngf-select="replies.uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-size="3MB">Attach Image</button>
       <!--<input type="file" name="chatUpload" file-model="myFile" class="fileuploadinput ng-isolate-scope" callback-fn="replies.uploadcsv(file)"> -->
    </div>
    <div style="font:smaller">{{replies.errFile.$error}} {{replies.errFile.$errorParam}}</div>     
  {{errorMsg}}
	 <div class="pagination">
    	<dir-pagination-controls></dir-pagination-controls>
	</div>
</div>